.headerMainBox {
    display: flex;
    flex-direction: column;
    background-color: red;
    .headerContentBox {
        background-color: blue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
